.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column1 {
    width: 80%;
  }
  
  .column2 {
    width: 20%;
  }
  
  @media all and (max-width: 450px) {
    .row {
      flex-direction: column;
    }
    .row .column1 {
      width: 100%;
      order: 1;
    }
    .row .column2 {
      width: 100%;
      order: 2;
    }
  }