
/*
Selector de elemento (llamado algunas veces selector de etiqueta o tipo)
p
Selecciona:
<p>

Selector de identificación (ID)
#my-id
Selecciona:
<p id="my-id"> y <a id="my-id">

Selector de Clase
.my-class
Selecciona:
<p class="my-class"> y <a class="my-class">

Selector de atributo
img[src]
Selecciona:
<img src="myimage.png"> pero no <img>

Selector de Pseudo-clase
a:hover
Selecciona:
<a>, pero solo cuando el puntero esté sobre el enlace.
 */

 aside.aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

aside.aside li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

aside.aside li a.active {
  background-color: #4CAF50;
  color: white;
}

aside.aside li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

nav.main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav.main li {
  float: left;
}

nav.main li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.main li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
